<header>
    <section class="logo_title">
        <img src="assets/icons/logo.svg" alt="application logo" class="logo">
        <h1 class="title">Update</h1>
    </section>
    
    <section class="search-bar">
        <input type="search" class="search-bar__input" placeholder="Search by title...">
    </section>

</header>
<!-- notifications container -->
<section class="notifications">
    @for (notification of notifications; track $index) {
        <app-notification-card 
            (click)="selectNotification(notification.id)"
            [title]="notification.title"
            [description]="notification.description"
            [time]="notification.time"
            [status]="notification.status"
        />

    }
</section>

<section class="control-panel">
    <button type="button" 
        class="control-panel__element control-panel__dashboard"
        routerLink=""
    >
        <img src="assets/icons/dashboard.svg" alt="dashboard svg icon">
        <p class="text">Dashboard</p>
    </button>
    <button type="button" 
        class="control-panel__element control-panel__notification"
        routerLink="/notifications"
    >
        <img src="assets/icons/notification.svg" alt="notification svg icon">
        <p class="text">Notification</p>
    </button>
    <button type="button" 
        class="control-panel__element control-panel-theme"
        (click)="changeTheme()"
    >
        <img src="assets/icons/light-theme.svg" alt="theme svg icon">
        <p class="text">Theme</p>
    </button>
</section>