<!-- control panel -->
<section class="control-panel">
    <button type="button" 
        class="control-panel__element control-panel__dashboard"
        routerLink=""
    >
        <img src="assets/icons/dashboard.svg" alt="dashboard svg icon">
        <p class="text">Dashboard</p>
    </button>
    <button type="button" 
        class="control-panel__element control-panel__notification"
        routerLink="/notifications"
    >
        <img src="assets/icons/notification.svg" alt="notification svg icon">
        <p class="text">Notification</p>
    </button>
    <button type="button" 
        class="control-panel__element control-panel-theme"
        (click)="changeTheme()"
    >
        <img src="assets/icons/light-theme.svg" alt="theme svg icon">
        <p class="text">Theme</p>
    </button>
</section>