@use 'variables' as var;
@use 'mixins' as mix;
@use 'function' as *;

// control panel
.control-panel {
    @include mix.flex();
    @include mix.flex-position(space-between, center);
    width: 100%;
    height: fit-content;

    &__element {
        @include mix.flex(column, 0.5rem);
        @include mix.flex-position(center, center);

        svg {
            width: pxToRem(24);
            height: pxToRem(24);

            path {
                fill: var(--nav-panel-clr);
            }
        }
    }

    .text {
        color: var(--text);
    }
}

.active {
    fill: var.$clr-white;
    stroke: red;
    color: var.$clr-white;
}