@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

// colors
$clr-primary: #0E0F11;
$clr-primary-light: #1E1E1E;
$clr-secondary: #D7D7D7;
$clr-secondary-light: #DEDEDE;
$clr-black: #000;
$clr-white: #fff;
$status-marker: #00f;

// fonts
$font: "Geist", serif;;

// font sizes
$size-xs: 0.5rem;
$size-s: 0.625rem;
$size-m: 1rem;
$size-l: 1.5rem;
$size-xl: 2rem;
$size-xxl: '';

// spacing
$spacing-m: 1rem; 

$bg-light: $clr-secondary;
$bg-card-light: $clr-secondary-light;
$bg-dark: $clr-primary;
$bg-card-dark: $clr-primary-light;

