@use 'variables' as var;
@use 'mixins' as mix;

main {
    @include mix.flex();
    @include mix.flex-position(center, center);
    padding: 2rem;

    & > * {
        flex: 1;
    }

    .information {
        h1 {
            font-size: 5rem;
        }
        .description {
            font-size: var.$size-l;
        }
    }

    .img-container {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}