<section class="notification">
    <div class="logo"></div>
    <div class="notification__content">
        <section class="notification__message-content">
            <h2 class="notification__title">{{ title() }}</h2>
            <p class="notification__description">
                {{description() }}.
            </p>
        </section>
        <section class="notification__status-time">
            <div class="notification__status-marker"></div>
            <p class="notification__time">{{ time() }}</p>
        </section>
    </div>
</section>