
<header>
    <div class="logo_title">
        <div class="logo">
            <img src="assets/icons/logo.svg" alt="application svg logo">
        </div>
        <h1 class="title">Transformer</h1>
    </div>
    <p class="date"> {{ displayDate() | date:'EEEE, dd MMMM yyyy'}} </p>
</header>

<!-- dashboard content -->
<section class="dashboard-content">
    <!-- grid -->
    <section class="current-data">
        <p class="detail-title">Current state</p>
        <app-notification-card 
            [title]="'System is online'"
            [description]="'System successfully booted'"
            [time]="'05:23'"
            [status]="'successful'"
        />
    </section>
    <div class="dashboard-content__grid grid-item-2">
        <section class="dashboard-content__grid__details">
            <p class="detail-title">Success</p>
            <p class="number-of-alert">12</p>
            <p class="text">Notification</p>
        </section>
        <img src="assets/icons/transformer.svg" alt="transformer svg icon">

    </div>
    <div class="dashboard-content__grid grid-item-1">
        <section class="dashboard-content__grid__details">
            <p class="detail-title">Alert</p>
            <p class="number-of-alert">12</p>
            <p class="text">Notification</p>
        </section>
        <img src="assets/icons/transformer.svg" alt="transformer svg icon">
    </div>
</section>

<!-- control panel -->
<app-nav-panel />
